name: Build Powercuff Rootless

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    env:
      THEOS: ${{ github.workspace }}/theos

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $THEOS
          
      - name: Setup SDK
        run: |
          git clone https://github.com/theos/sdks.git $THEOS/sdks
          # We use the 16.5 SDK which is perfect for your 16.7.12 build
          
      - name: Build Package
        run: |
          export THEOS_PACKAGE_SCHEME=rootless
          # We point to the local Theos we just installed
          make package FINALPACKAGE=1
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Powercuff-Rootless-Deb
          path: packages/*.deb
